<template>
    <div>
        <div class="alert alert-success" v-if="form.submitted">
            Post created!
        </div>
        <form @submit.prevent="createPost" method="POST"  @keydown="form.errors.clear()" enctype="multipart/form-data">
            <div :class="form.errors.has('name') ? ' has-error form-group ' : 'form-group'">
                <label>Name</label>
                <input type="text" data-rules="required|alpha|min:5|max:30" name="name"
                       class="form-control" v-model="form.name">
                <span class="help-block"
                      v-if="form.errors.has('name')"
                      v-text="form.errors.get('name')"></span>
            </div>
            <div :class="form.errors.has('phone') ? ' has-error form-group ' : 'form-group '">
                <label>Phone</label>
                <input type="text" data-rules="required|numeric|min:5|max:30" name="phone"
                       class="form-control" v-model="form.phone">

                <span class="help-block"
                      v-if="form.errors.has('phone')"
                      v-text="form.errors.get('phone')"></span>
            </div>
            <div :class="form.errors.has('email') ? ' has-error form-group ' : 'form-group'">
                <label>Email</label>
                <input type="email" data-rules="required|alpha|min:5|max:30" name="email"
                       class="form-control" v-model="form.email">

                <span class="help-block"
                      v-if="form.errors.has('email')"
                      v-text="form.errors.get('email')"></span>
            </div>

            <div :class="form.errors.has('gender') ? ' has-error form-group ' : 'form-group '">
                <label>Gender</label>
                <label class="radio-inline">
                    <input v-model="form.gender" data-rules="required" type="radio" value="Male">Male
                </label>
                <label class="radio-inline">
                    <input v-model="form.gender" data-rules="required" type="radio" value="Female">Female
                </label>

                <span class="help-block"
                      v-if="form.errors.has('gender')"
                      v-text="form.errors.get('gender')"></span>
            </div>

            <div :class="form.errors.has('dob') ? ' has-error form-group ' : 'form-group'">
                <label>Dob</label>
                <input type="date" data-rules="required" name="dob"
                       class="form-control" v-model="form.dob">

                <span class="help-block"
                      v-if="form.errors.has('dob')"
                      v-text="form.errors.get('dob')"></span>
            </div>
            <div :class="form.errors.has('biography') ? 'form-group has-error' : 'form-group '">
                <label>Biography</label>
                <input type="text" data-rules="required|min:10|max:100" name="biography"
                       class="form-control" v-model="form.biography">

                <span class="help-block"
                      v-if="form.errors.has('biography')"
                      v-text="form.errors.get('biography')"></span>
            </div>
            <div :class="form.errors.has('image_url') ? 'form-group has-error' : 'form-group '">
                <label>Photo&nbsp;<span @click="changeImage" v-if="form.image_url!=''" class="glyphicon glyphicon-remove"></span></label>
                <input :disabled="form.image_url!=''" id="image_url" name="image_url" @change="upload" accept="image/*"  type="file">
                <span class="help-block" v-if="form.errors.has('image_url')"
                   v-text="form.errors.get('image_url')"></span>
            </div>


            <button :disabled="form.errors.any()" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</template>

<script>
    import router from '../routes'
    export default {
        data() {

            return {

                form: new Form({
                    name: '',
                    phone:'',
                    email:'',
                    gender:'Male',
                    dob:'',
                    biography:'',
                    image_url:'',
                    submitted:false
                })

            };
        },
        methods:{
            createPost()
            {
                this.form.post('create-user').then(function (response) {
                    router.push({name:"Users"});
                });
            },
            upload(e){
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    this.form.image_url=e.target.result;
                };
                reader.readAsDataURL(file);
            },
            changeImage(){
                this.form.image_url='';
                document.getElementById("image_url").value="";
                this.form.errors.clear();
            }
        }
    }
</script>