<style scoped>

</style>

<template>
    <table class="table table-bordered">
        <thead>
      <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Biography</th>
      </tr>
        </thead>
        <tbody>
        <tr v-for="user in listsUsers">
            <td>
                <img style="width: 60px" class="img-thumbnail" :src="user.image_url" :alt="user.name">
            </td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.biography}}</td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import VueResource from 'vue-resource';
    Vue.use(VueResource);
    export default {
        props: ['users'],
        data(){
            return {
                listsUsers:{}
            }
        },
        created(){

            this.$http.get('/get-users').then(response => {
                this.listsUsers = response.body;

            }, response => {
            });
        }
    }
</script>